*
{
  margin:0;
  padding:0;
}

#timeline {
    display: block;
    height:40px;
}

#timeline_box
{
  background-color: rgba(0,0,0,0.5);
  position:fixed;
  left:0;
  top:0;
}

#month_text
{
  position:fixed;
  left:0;
  top:40px;
  padding:5px;
  font-family:sans-serif;
  font-size:20px;
}

#tree-svg
{
  margin-top:40px;
  background-color:#eee;
}

div.tooltip {
    background: #000;
    color: #fff;
    position: absolute;
    text-align: center;

    width: 325px;
    height: 125px;
    padding: 2px;

    font: 12px sans-serif;
    border: 0px;
    border-radius: 8px;

    pointer-events: none;
    transform: scale(0.75);
}

div.tooltip > h3 {
    margin-bottom: 0;
}

div.tooltip img {
    max-height: 105px;
}

div.tooltip div.logo {
    float: left;
    margin: 10px 0 0 10px;
    height: 100%;
}